* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 1.5; */
    font-family: "Montserrat", sans-serif;
}

body {
    color: #757575;
}


.content-wrapper {
    max-width: 1000px;
    margin: auto;
}

.bar-icon {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 15px 10px;
    font-size: 40px;
    color: #757575;
    background-color: white;
    z-index: 9999999999;
}

.bar-icon:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}



nav {
    padding-bottom: 100px;
}

/* heading start */
.heading {
    margin-top: 150px;
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: #000;

}

.heading h1 {
    font-size: 60px;
    padding-bottom: 10px;
}

.heading p {
    padding-bottom: 15px;
}

.greyshade {
    padding: 10px 30px;
    margin-top: 15px;
    border: none;
    font-size: 15px;
}

.greyshade:hover {
    cursor: pointer;
    background-color: #ccc;

}

/* heading end */


main {
    padding: 20px;
}



.bg-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


/* Content Style Starts */

/* content style end */

/* Portfolio start */
.portfolio-section {
    /* border: 2px solid red; */
    width: 100%;
    padding-bottom: 50px;

}

.portfolio-heading {
    color: grey;
    font-size: 30px;
}


.portfolio-section hr {
    color: lightgray;
    opacity: 0.1;
}

.portfolio-menu {
    display: flex;
    margin-bottom: 12px;
}

.port-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    width: 50%;
}

.port-image-item {
    width: 100%;
}

.port-images img {
    width: 100%;
    margin-bottom: 12px;
}

/* portfolio End */



/* About start */
.about-section {
    margin-bottom: 50px;
}

.about-section h2 {
    color: grey;
}

.about-section hr {
    color: lightgrey;
    opacity: 0.4;
}

.about-section p {
    padding: 5px;
    color: #757575;
}

/* About end  */

/* Skill section Start */
.skill-section {
    padding-bottom: 50px;
}

.skill-section h2 {
    color: grey;
    margin-bottom: 15px;

}

.skill-section p {
    padding: 15px 0;
    color: #757575;
    /* font-size: bold; */
    letter-spacing: 4px;
    width: 100%;
    text-align: justify;

}

.skill-conatiner {
    background-color: #f1f1f1;
}

.skill-95 {
    width: 95%;
    color: #fff;
    background-color: #616161;
    padding: 5px 0;
    text-align: center;

}

.skill-85 {
    width: 85%;
    color: #fff;
    background-color: #616161;
    padding: 5px 0;
    text-align: center;

}

.skill-80 {
    width: 80%;
    color: #fff;
    background-color: #616161;
    padding: 5px 0;
    text-align: center;
}

.achievement-section {
    display: flex;
    /* justify-content: space-around; */
    padding: 35px 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #616161;
    text-align: center;

}

.achieve-box {
    width: 100%;
    font-size: 20px;
    padding-right: 10px;
}


/* Skill End  */

/* Reputation Start */
.reputation-section {
    padding-bottom: 50px;
}

.reputation-section h2 {
    color: grey;
    margin-bottom: 10px;

}

.reputation {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.name-center {
    padding: 10px;
    font-size: 18px;
}

.img-round img {
    width: 80px;
    border-radius: 50px;

}

/* Reputation end */

/* Price start */

.pricing-section {
    padding-bottom: 60px;
}

.pricing-section h2 {
    color: grey;
    margin-bottom: 10px;
}

.pricing-content {
    width: 100%;
    display: flex;
}



.price-basic-menu {
    list-style-type: none;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}


.price-basic-menu:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}


.pricebasic {
    background-color: #616161;
    font-size: 25px;
    padding: 35px 10px;
    color: white;

    border: 1px solid #ddd;
    /* padding: 8px 16px; */
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.price-basic-list {
    border: 1px solid #ddd;
    padding: 15px 16px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.price-basic-list button {
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: white;
}

.price-basic-list button:hover {
    background-color: black;
    color: #ccc;
}

.probox {
    font-size: xx-large;
    background-color: black;
    color: white;
}


.price-basic-list2 {
    border: 1px solid #ddd;
    ;
    padding: 15px 16px;
    width: 100%;
    /* color: #757575; */
    border-bottom: 1px solid #ddd;
}

.price-basic-list2 button {
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    background-color: white;
}

.price-basic-list2 button:hover {
    background-color: black;
    color: #ccc;
}

/* Price End */

/* contact me start */
.contactme-section {
    /* border: 2px solid black; */
    padding-bottom: 25px;
}

.contactme-section h2 {
    color: grey;
    margin-bottom: 20px;
}

.contactme-section hr {
    color: lightgrey;
    opacity: 0.4;
}

.contactme-section p {
    color: grey;
    padding: 10px;

}

.contactme-icons-list i {
    text-align: center;
    font-size: x-large;

}


/* Map Start */
.map-section {
    padding-bottom: 25px;
}

.map {
    width: 100%;
    filter: grayscale(75%);
}

.map-div {
    margin: 4px;
}

/* map end */

/* Start Contact section */
.contact-section {
    max-width: 100%;
    padding-bottom: 10px;
}

.contact-item {
    padding: 10px 0px 8px 4px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
}

.btn1 {
    color: #000;
    background-color: #f1f1f1;
    padding: 0px 25px;
    height: 40px;
    border: none;
}

.btn1:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;

}

/* contact section End */

/* footerbar start */
.footer-bar {
    color: #000;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-size: 17px;
    padding-bottom: 50px;
    font-size: inherit;
    opacity: 0.60;
}

.footer-bar a {
    text-align: center;
    color: #757575;
}

.footer-bar i {
    font-size: x-large;
}


.footer-bar i:hover {
    opacity: 0.60;
    cursor: pointer;
    background-color: transparent;
}

.footer-bar p {
    font-size: medium;
}

/* footer bar end */


.reputation-container {
    display: flex;
}

.reputation-image {
    /* border : 2px solid black ;  */
}

.reputation-content {
    /* border : 2px solid red ;  */
    width: 100%;
    padding: 10px 5px;
}


.reputation-content-span {
    padding-right: 10px;
    font-size: 18px;
    color: black;
}

.reputation-content p {
    padding: 10px;
}



.contactme-icons-list i {
    padding-right: 35px;
    font-size: 30px;

}

/* media query start */
@media (max-width: 600px) {

    .slider-image-div{
        padding : 0 10% ;
    }

    .content {
        width: 100%;
        /* margin-left: 40%; */
    }

    .main-image {
        display: none;
    }


    .slider-image-div img{
        width: 100% ;
    }
    

    .portfolio-menu{
        display: block;
    }

    .port-images{
        width: 100% ;
    }

    .pricing-content{
        display: block;
    }

    .price-box1 , .price-box2{
        width: 100% ;
        margin-bottom: 30px ;
    }

    
    .achievement-section{
        display: block;
        width: 100%;
    }
    .achieve-box{
        padding: 30px;
    }

}


@media (min-width: 600px) and ( max-width: 900px) {

    .content {
        width: 100%;
        /* margin-left: 40%; */
    }

    .main-image {
        display: none;
    }


    .slider-image-div{
        padding : 0 20% ;
    }
    
    .slider-image-div img{
        width: 100% ;
    }

    .price-box1 {
        width: 50%;
        margin-right: 5px;
        border: none;
    }
    
    .price-box2 {
        width: 50%;
        margin-left: 5px;
        border: none;
    }


}


@media (min-width : 901px) {


    .content {
        width: 60%;
        right: 0;
        margin-left: 40%;
    }


    .main-image {
        width: 40%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
    }



    .main-content {
        width: 100%;
        display: flex;
    }

    .slider-image-div{
        display: none ;
    }


    .price-box1 {
        width: 50%;
        margin-right: 5px;
        border: none;
    }
    
    .price-box2 {
        width: 50%;
        margin-left: 5px;
        border: none;
    }
}



